<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <style>
        /* h1 {
          align: center;
        }
        div {
          padding: 20px;
          align: center;
        } */

        #banana {
          width: 90vw;
          margin: auto;

        }

        .banana {
          margin: 3vh 3vw;
        }

      </style>
  </head>
  <body>

    <h1>Welcome to Zoinks Auto Rentals</h1>

    <div id="banana">

      <ul>
        <% @cars.each do |car| %>
        <%= link_to image_tag(car.logo, height: '120', width: '200'), car_path(car), :class => "banana"%>
        <% end %>
      </ul>

    </div>
  </body>
</html>
